.banner img {
  width: 100%;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  padding-top: 30px;
  font-weight: bold;
}

.small-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.nopadding {
  padding: 0 !important;
}

.nopadding1st {
  padding-right: 0 !important;
}

.nopaddinglast {
  padding-left: 0 !important;
}

.image {
  padding: 30px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page-footer {
  background-color: #212529;
  color: white;
  height: 30px;
}

.navbar {
  padding: 25px;
}

.contenido {
  padding-left: 30px;
  padding-right: 30px;
  font-family: sans-serif;
  font-size: 20px;
}

.social {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  display: inline-block;
  align-items: center;
  padding: 20px;
}

#hobbies ul {
  padding-left: 50px;
}

.video {
  text-align: center;
  padding-bottom: 15px;
}

.container-fluid {
  padding: 0px !important;
  overflow: hidden;
}
